# URLs
https://calendar.google.com/calendar/u/0/r/week
https://mail.google.com/mail/u/0/#inbox
https://github.com/notifications

# APPS
Visual Studio Code
Slack
Spotify
Notion
iTerm

# PLUGINS
code        # Visual Studio Code
iTerm       # Run plugin script to configure iTerm (split panes, run commands etc)
layout      # Run plugin script to arrange windows/screens
