# URLs
https://calendar.google.com/calendar/u/0/r/week
https://mail.google.com/mail/u/0/#inbox
https://github.com/notifications
https://distilledsch.tpondemand.com/RestUI/Board.aspx#page=board/5144700272540935630
https://logs.distilled.tools/
https://grafana.distilled.tools/

# APPS
Visual Studio Code
Slack
Terminal
Spotify
Zoom.us
Finder
iTerm

